/* Responsivo para telas menores que 768px */
@media (max-width: 1000px) {
    /* Esconde o menu */

    .navbar{
        position: static;
    }

    .background-principal{
        padding-top: 0;
    }

    .menu {
        display: none;
    }

    .login{
        display: none;
    }

    .container{
        margin: 0;
    }

    .texto-principal{
        margin: 0;
    }

    .texto-principal h2{
        font-size: 30px;
        margin: 0;
        text-align: center;
    }

    .texto-principal p{
        padding: 0;
        margin: 0;
        font-size: 17px;
        text-align: center;
    }

    .texto-principal a{
        margin-left: 32%;
    }

    .vid-principal{
        margin: 0;
        padding: 0;
    }

    .vid-principal iframe{
        margin-top: 8%;
        max-width: 365px;    
        height: 205px;
        margin-left: 2.5%;
        margin-right: 1%;
    }

    .texto-secundario h3{
        text-align: center;
        margin-left: 1%;
        margin-top: 4%;
        font-size: 22px;
    }

    .texto-secundario span{
        color: #67038d;
    }

    .texto-secundario p{
        font-size: 15px;
        text-align: center;
    }

    .container-cards{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .conteudo-saibamais{
        margin-left: 0;
    }

    .conteudo-saibamais h3{
        font-size: 18.5px;
    }

    .conteudo-saibamais p{
        font-size: 16px;
        text-align: center;
        margin-right: 3px;
        margin-left: 3px;
    }

    .video-saibamais iframe{
        margin-top: 2%;
        max-width: 365px;    
        height: 205px;
        margin-left: 1%;
        margin-right: 1%
    }

   .conteudo-testemunho{
        margin: 1%;
   }

   .video-testemunho iframe{
        margin-top: 2%;
        max-width: 365px;    
        height: 205px;
        margin-left: 1%;
        margin-right: 1%
   }

   .botao-vejamaisavaliacoes{
        margin-left: 13%;
   }

   .container-cards-depoimentos{
        flex-direction: column;
        align-items: center; 
    }

    .cards-depoimentos{
        width: 350px;
        height: 330px;
    }


}